<div>
    <table class="table">
        <thead>
            <tr>
                <th><i class="icon-tag"></i>Tipo</th>
                <th><i class="icon-user"></i>Nombre</th>
                <% if (!modal) { %>
                <th><i class="icon-asterisk"></i>ID</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% _.each(nodes, function(node) { %>
            <tr class="selection">
                <td id="_nodeType">
                    <%- node._node._data.data['tipo'] %>
                </td>
                <td id="_nodeName">
                    <%- node._node._data.data['nombre'] %>
                </td>
                <% if (!modal) { %>
                <td>
                    <a href="#/indinet/nodes/<%- node._id %>" class="btn">ver nodo: <%- node._id %></a>
                </td>
                <% } %>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
