<div class="row">
    <div class="span12">

        <div class="page-header">
            <h1>Lista de Relaciones</h1>
        </div>

        <div class="control-group">
            <label for="searchRelationship" class="control-label">Buscar</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">
                        <i class="icon-search"></i>
                    </span>
                    <input type="text" class="input-xlarge" id="searchRelationship" value=""/>
                    <p class="help-block">ingrese texto para buscar Relaciones</p>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <ul id="relationshipList"></ul>
    </div>
    <div class="form-actions">
        <a href="#/indinet/relationships/new" class="btn new-btn">Nuevo Relación</a>
    </div>

</div>
